*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width:100%;
    height:100%;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(home.png);
    background-size: cover;
    background-position:center ;
    
}
.navbar{
    width:85%;
    margin:auto;
    padding:25px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.sub-menu1{
    display:none;
}
.navbar ul li a:hover .sub-menu1 {
    display:block;
    position:absolute;
    background:lightblue;  
}
.logo{
    width:120px;
    cursor:pointer;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin:0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration:none; 
    color:white;
    text-transform: uppercase;
    
}
.navbar ul li:hover{
    background:lightseagreen;
    border-radius:3px;
    padding:5px;
}
.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background:white;
    position:absolute;
    left:0;
    bottom:-5;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width:100%;
}
.content{
    width:100%;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    color:white;
    position:absolute;
   
}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;

}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
 button{
    width:200px;
    padding:15px 0;
    text-align:center;
    margin:2opx 10px;
    border-radius:25px;
    font-weight: bold;
    border:2px solid #009688;
    background: transparent;
    color:white;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}
button a{
    color:white;
}
span{
    background: #009688;
    height:100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;

}
button:hover{
    border:none;
}
